
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic');


* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  color:#333;
  background: #fff;
  font-family: 'Open Sans' , sans-serif  !important;
  font-size: 10pt;
  line-height:135%;

}

aside, nav, footer, header, section { display: block; }

ul {
    list-style:none;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration: none;
}


/* ХИДЕР */
.header{
    width:100%;
    height:82px;
    z-index: 4;
    color: white;
    background: #082238;

}
/*Верхнее меню*/
#headerInner {
    position:relative;
    background: #135185;
    margin: 0px;
}

#headerInner nav {
    margin-left: auto;
}

.topMenu {
    height:25px;
    position:relative;
	left:0px;
	top:0px;
}

.topMenu ul li {
    font-weight: 100;
    border-right: 0px solid #adadad;
    /*display:block;*/
    color: #fff;
    text-decoration: none;
    line-height: 25px;
    font-size: 9pt;
    float: right;
    height: 30px;
    /*padding-right: 150px;*/
}
.topMenu ul {
    margin:  0px;
}

.topMenuTime {
    z-index: 1;
    position: absolute;
    right: 20px;
}

.topMenuPhone {
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 100%;
}

.topMenuAddress {
    z-index: 1;
    position: absolute;
    left: 20px;
}


/*Конец верхнего меню*/

/*Навигационное меню*/

#headernav {
    position: relative;
    background: #082238;
    width: 1200px;
    height: 57px;
    margin: 0px auto;
}

.menuRight {
    height: 57px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.menuRight ul li {
    /*border-left: 1px solid #135185;*/
    float: left;
    height: 57px;
}

.menuRight ul {
    padding-left: 0px;
}

.menuRight ul li a{
    margin-top: 0px;
    font-weight: 100;
    display: block;
    color: white;
    text-decoration: none;
    line-height: 20px;
    font-size: 18px;
    padding:  16px 20px 21px 20px;
}

.menuRight ul li a:hover{
    background: #135185;
    color: white;
}

/*Конец навигационного меню*/

/*Конец хидера*/

/*Основной контент*/

/*Первый блок*/


/*Конец первого блока*/