
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400&display=swap&subset=cyrillic');


* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  color:#333;
  background: #fff;
  font-family: 'Open Sans' , sans-serif  !important;
  font-size: 10pt;
  line-height:135%;

}

aside, nav, footer, header, section { display: block; }

ul {
    list-style:none;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration: none;
}


/* ХИДЕР */
.header{
    width:100%;
    height:82px;
    z-index: 4;
    color: white;
    background: #082238;

}
/*Верхнее меню*/
#headerInner {
    position:relative;
    background: #135185;
    margin: 0px;
}

#headerInner nav {
    margin-left: auto;
}

.topMenu {
    height:25px;
    position:relative;
	left:0px;
	top:0px;
}

.topMenu ul li {
    font-weight: 100;
    border-right: 0px solid #adadad;
    /*display:block;*/
    color: #fff;
    text-decoration: none;
    line-height: 25px;
    font-size: 9pt;
    float: right;
    height: 30px;
    /*padding-right: 150px;*/
}
.topMenu ul {
    margin:  0px;
}

.topMenuTime {
    z-index: 1;
    position: absolute;
    right: 20px;
}

.topMenuPhone {
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 100%;
}

.topMenuAddress {
    z-index: 1;
    position: absolute;
    left: 20px;
}


/*Конец верхнего меню*/

/*Навигационное меню*/

#headernav {
    position: relative;
    background: #082238;
    width: 1200px;
    height: 57px;
    margin: 0px auto;
}

.menuRight {
    height: 57px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.menuRight ul li {
    /*border-left: 1px solid #135185;*/
    float: left;
    height: 57px;
}

.menuRight ul {
    padding-left: 0px;
}

.menuRight ul li a{
    margin-top: 0px;
    font-weight: 100;
    display: block;
    color: white;
    text-decoration: none;
    line-height: 20px;
    font-size: 18px;
    padding:  16px 20px 21px 20px;
}

.menuRight ul li a:hover{
    background: #135185;
    color: white;
}

/*Конец навигационного меню*/

/*Конец хидера*/

/*Основной контент */

/*Первый блок*/

.welcomeMenu {
    padding: 0px;
    position: relative;
}

.welcomeMenu img {
    width: 100%;
}

.block-info {
    position: absolute;
    top: 20%;
    left: 100px;
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    width: 500px;
    font-size: 23pt;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

.block-info i {
    font-size: 14pt;
}

.firstService {
    position: absolute;
    bottom: -30px;
    left: -1px;
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    width: 400px;
    font-size: 14pt;
    box-sizing: border-box;
    padding: 5px;
    height: 36px;
}

.firstService button {
    background: #082238;
    position: absolute;
    box-sizing: border-box;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 36px;
    border: 0px solid #000000;
}

.firstService img {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    padding: 5px;
}

/*Конец первого блока*/

/*Начало второго блока*/
.whyUs {
    padding-bottom: 30px;
    height: 400px;
}

.whyUs h3 {
    text-align: center;
}

.whyUs ul {
    margin-top: 30px;
    position: absolute;
    top: 50px;
    left: 45%;
    transform: translateX(-50%);
}

.whyUs ul li {
    line-height: 55px;
    font-size: 18px !important;
}

.round {
    background: #192a38;
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50px;
}
.round img {
    height: 50px;
    weight: 50px;
}

/*Конец второго блока*/

/*Начало третьего блока */
.specialSentence {
    position: relative;
}

.specialSentence img {
    width: 100%;
}

.nameBlock3 {
    position: absolute;
    background: #192a38;
    font-size: 30px;
    color: #192a38;
    top: 0px;
    left: -70px;
    padding: 5px 50px 5px 10px;
    transform: skew(-70deg);
    opacity: 0.7;
}

#NameBlock3 {
    position: absolute;
    right: 35px;
    color: white;
    transform: skew(70deg);
    width: 80%;
    font-size: 26px;
    opacity: 1;
}

.sentenceBlock3 {
    position: absolute;
    top: 90px;
    left:10%;
    background: #192a38;
    color: white;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    opacity: 0.7;
    padding: 20px;
    font-size: 30px;
}

/*Конец третьего блока */


/*Начало 4го блока */
.aboutUs {
    height: 500px;
}

#LineAboutUs {
    margin: 0px 20px 0px 20px;
    width: 100%;
    height: 11px;
}

#ContentAboutUs {
    margin: 20px 10px 20px 20px;
    height: 440px;
}

.aboutUs h3 {
    text-align: center;
    margin-top: 40px;
}
/*Конец 4го блока */


/*Начало 5го блока */
.whereIs {
    padding-bottom: 30px;
    background:white;
}

.whereIs h3 {
    text-align: center;
}

.whereIs h4 {
    text-align: center;
}
/*Конец 5го блока*/


/* Начало 6го блока */


.request img {
    width: 100%;
}

.requestButton {
    position: absolute;
    top: 50px;
    left: 50px;
}

/* Конец 6го блока */


/* Футер */
.footer {
    margin-top: 0px;
}
.footerbar {
    padding-top: 20px;
    background-color: #082238;
    position: relative;
    padding-bottom: 30px;
}
.footertext h4{
    font-size: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: whitesmoke;
}
.footertext h5 {
    font-size: 12px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: whitesmoke;
    line-height: 16px;
}

.footertext a {
    color: whitesmoke;
    text-decoration: none;
}

.footertext a:hover {
    color: white;
    text-decoration: underline;
}


.social img {
    height: 20px;
}
/* Конец Футера */