{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Авто-сервис МеханикТМ</title>

    <!-- Meta tags -->
    <meta>

    <!-- Стили -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>

{#    <!--Шрифт-->#}
{#    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=cyrillic" rel="stylesheet">#}

</head>
<body>
<header>
    <div id="headerInner">
        <nav class="topMenu">

                <ul>
                    <li>+7(999)999-99-99</li>
                    <li>info@gmail.com</li>
                    <li>График работы: Ежедневно с 9:00 до 19:00</li>
                </ul>
        </nav>
    </div>
            <!-- <div class="main-nav container-fluid">
                <ul>
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-1">
                        <li>
                            <a href="#">Главная</a>
                        </li>
                    </div>
                    <div class="col-lg-1">
                        <li>
                            <a href="#">Услуги</a>
                        </li>
                    </div>
                    <div class="col-lg-1">
                        <li>Акции</li>
                    </div>
                    <div class="col-lg-1">
                        <li>О нас</li>
                    </div>
                    <div class="col-lg-1">
                        <li>Контакты</li>
                    </div>
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-2">
                        <li>Личный кабинет</li>
                    </div>
                </ul>
            </div>
        </nav>
    </div> -->

</header>
<div class="container-fluid" style="padding: 0px">
    <img src="{% static 'images/bmw-main.jpg' %}" style="height:900px">
    <div class="info-main">

    </div>
</div>
</body>
</html>